@import url("normalize.css");
@import url("reset.css");
@import url("font-utility.css");
@import url("flex-utility.css");

:root {
  /*=========================== Layout ===========================*/
  --container-max: 1440px;
  /* PC 콘텐츠 최대폭 */
  --container-pad-mobile: 16px;
  /* 모바일 좌우 여백 (480-448)/2 */
  --container-pad-tablet: 24px;
  /* 태블릿 좌우 여백 (768-720)/2 */

  /* Base */
  --color-white: #ffffff;
  --color-black: #000000;

  /* Black & Gray */
  --color-dark-black: #2e2a2b;
  --color-brown: #4c4546;
  --color-dark-gray: #5e5e5e;
  --color-gray: #b8b8b8;
  --color-light-gray: #f9f9f9;
  --color-info-gray: #fcfcfc;

  /* Brand / Point */
  --color-primary: #faf8ff;
  --color-info-bg: #eff6ff;
  --color-point-secondary: rgba(37, 99, 235, 0.7);
  --color-point: #2563eb;
  --color-point-hover: #3b82f6;
  --color-point-light: #60a5fa;

  /* State */
  --color-red: #ff0000;
  --color-yellow: #ffb300;

  /* Overlay */
  --color-overlay: rgba(0, 0, 0, 0.5);

  /* Effect */
  --shadow-main: 0 0 20px rgba(0, 0, 0, 0.15);
  --shadow-sub: 0 -2px 16px rgba(0, 0, 0, 0.1);

  /*=========================== Text-size styles ==================*/

  /* ===========================
     Font Family
  =========================== */
  --font-pretendard: "Pretendard", sans-serif;
  --font-inter: "Inter", sans-serif;
  --font-material-outlined: "Material Symbols Outlined";
  --font-material-icons: "Material Icons";

  /* Base */
  --base-font: 16px;
  --base-unit: 16px;

  /* ===========================
     Typography - Mobile
  =========================== */

  /* Heading */
  --m-h1-size: 28px;
  --m-h1-line: 36px;
  --m-h1-weight: 700;
  --m-h1-letter: -0.4px;

  --m-header-l-size: 22px;
  --m-header-l-line: 30px;
  --m-header-l-weight: 700;
  --m-header-l-letter: -0.3px;

  --m-header-size: 18px;
  --m-header-line: 26px;
  --m-header-weight: 600;
  --m-header-letter: -0.2px;

  --m-header-s-size: 16px;
  --m-header-s-line: 24px;
  --m-header-s-weight: 700;
  --m-header-s-letter: -0.1px;

  /* Body */
  --m-body-size: 16px;
  --m-body-line: 24px;
  --m-body-weight: 400;
  --m-body-letter: 0;

  --m-body-s-size: 15px;
  --m-body-s-line: 22px;
  --m-body-s-weight: 400;
  --m-body-s-letter: 0;

  /* Button */
  --m-btn-l-size: 22px;
  --m-btn-l-line: 28px;
  --m-btn-l-weight: 600;
  --m-btn-l-letter: -0.2px;

  --m-btn-m-size: 16px;
  --m-btn-m-line: 22px;
  --m-btn-m-weight: 700;
  --m-btn-m-letter: 0;

  --m-btn-s-size: 14px;
  --m-btn-s-line: 20px;
  --m-btn-s-weight: 700;
  --m-btn-s-letter: 0;

  /* Caption */
  --m-caption-size: 14px;
  --m-caption-line: 20px;
  --m-caption-weight: 400;
  --m-caption-letter: 0;

  /* Price */
  --m-price-size: 18px;
  --m-price-line: 24px;
  --m-price-weight: 600;
  --m-price-letter: -0.1px;

  --m-price-l-size: 22px;
  --m-price-l-line: 30px;
  --m-price-l-weight: 600;
  --m-price-l-letter: -0.3px;

  --m-price-slash-size: 18px;
  --m-price-slash-line: 24px;
  --m-price-slash-weight: 600;
  --m-price-slash-letter: -0.1px;

  /* Product */
  --m-product-brand-size: 14px;
  --m-product-brand-line: 20px;
  --m-product-brand-weight: 600;
  --m-product-brand-letter: 0;

  --m-product-name-size: 16px;
  --m-product-name-line: 22px;
  --m-product-name-weight: 400;
  --m-product-name-letter: -0.1px;

  --m-product-price-size: 16px;
  --m-product-price-line: 22px;
  --m-product-price-weight: 600;
  --m-product-price-letter: -0.2px;

  /* Footer */
  --m-footer-size: 14px;
  --m-footer-line: 20px;
  --m-footer-weight: 400;
  --m-footer-letter: 0;

  --m-footer-caption-size: 14px;
  --m-footer-caption-line: 20px;
  --m-footer-caption-weight: 400;
  --m-footer-caption-letter: 0.1px;

  /* Icons */
  --m-icons-xs-size: 14px;
  --m-icons-xs-line: 16px;

  --m-icons-s-size: 16px;
  --m-icons-s-line: 20px;

  --m-icons-m-size: 18px;
  --m-icons-m-line: 18px;

  --m-icons-l-size: 24px;
  --m-icons-l-line: 24px;

  --m-icons-xl-size: 28px;
  --m-icons-xl-line: 36px;

  /* ===========================
   Typography - Tablet
=========================== */

  /* Heading */
  --t-h1-size: 34px;
  --t-h1-line: 44px;
  --t-h1-weight: 700;
  --t-h1-letter: 0;

  --t-header-l-size: 26px;
  --t-header-l-line: 34px;
  --t-header-l-weight: 700;
  --t-header-l-letter: -0.3px;

  --t-header-size: 20px;
  --t-header-line: 28px;
  --t-header-weight: 600;
  --t-header-letter: 0;

  --t-header-s-size: 16px;
  --t-header-s-line: 26px;
  --t-header-s-weight: 700;
  --t-header-s-letter: 0;

  --t-heading-p-size: 16px;
  --t-heading-p-line: 24px;
  --t-heading-p-weight: 700;
  --t-heading-p-letter: 0;

  /* Body */
  --t-body-size: 16px;
  --t-body-line: 26px;
  --t-body-weight: 400;
  --t-body-letter: 0;

  --t-body-s-size: 15px;
  --t-body-s-line: 24px;
  --t-body-s-weight: 400;
  --t-body-s-letter: 0;

  /* Button */
  --t-btn-l-size: 22px;
  --t-btn-l-line: 30px;
  --t-btn-l-weight: 600;
  --t-btn-l-letter: -0.2px;

  --t-btn-m-size: 16px;
  --t-btn-m-line: 24px;
  --t-btn-m-weight: 700;
  --t-btn-m-letter: 0;

  --t-btn-s-size: 14px;
  --t-btn-s-line: 20px;
  --t-btn-s-weight: 700;
  --t-btn-s-letter: 0;

  /* Caption */
  --t-caption-size: 14px;
  --t-caption-line: 22px;
  --t-caption-weight: 400;
  --t-caption-letter: 0;

  /* Price */
  --t-price-size: 22px;
  --t-price-line: 28px;
  --t-price-weight: 600;
  --t-price-letter: -0.1px;

  --t-price-l-size: 26px;
  --t-price-l-line: 34px;
  --t-price-l-weight: 600;
  --t-price-l-letter: -0.3px;

  --t-price-slash-size: 22px;
  --t-price-slash-line: 28px;
  --t-price-slash-weight: 600;
  --t-price-slash-letter: -0.1px;

  /* Product */
  --t-product-brand-size: 15px;
  --t-product-brand-line: 22px;
  --t-product-brand-weight: 600;
  --t-product-brand-letter: -0.1px;

  --t-product-name-size: 16px;
  --t-product-name-line: 24px;
  --t-product-name-weight: 400;
  --t-product-name-letter: -0.1px;

  --t-product-price-size: 16px;
  --t-product-price-line: 24px;
  --t-product-price-weight: 600;
  --t-product-price-letter: -0.2px;

  /* Footer */
  --t-footer-size: 14px;
  --t-footer-line: 22px;
  --t-footer-weight: 400;
  --t-footer-letter: 0;

  --t-footer-caption-size: 14px;
  --t-footer-caption-line: 22px;
  --t-footer-caption-weight: 400;
  --t-footer-caption-letter: 0.1px;

  /* Icons */
  --t-icon-xs-size: 18px;
  --t-icon-xs-line: 20px;

  --t-icon-s-size: 22px;
  --t-icon-s-line: 24px;

  --t-icon-m-size: 26px;
  --t-icon-m-line: 28px;

  --t-icons-l-size: 30px;
  --t-icons-l-line: 32px;

  --t-icon-xl-size: 34px;
  --t-icon-xl-line: 36px;

  /* ===========================
   Typography - PC
=========================== */

  /* Heading */
  --p-h1-size: 42px;
  --p-h1-line: 54px;
  --p-h1-weight: 700;
  --p-h1-letter: -0.4px;

  --p-header-l-size: 32px;
  --p-header-l-line: 42px;
  --p-header-l-weight: 700;
  --p-header-l-letter: -0.3px;

  --p-heading-size: 28px;
  --p-heading-line: 32px;
  --p-heading-weight: 700;
  --p-heading-letter: -0.2px;

  --p-header-s-size: 24px;
  --p-header-s-line: 32px;
  --p-header-s-weight: 700;
  --p-header-s-letter: -0.2px;

  --p-heading-p-size: 24px;
  --p-heading-p-line: 32px;
  --p-heading-p-weight: 700;
  --p-heading-p-letter: 0;

  --p-heading-xxs-plus-size: 16px;
  --p-heading-xxs-plus-line: 28px;
  --p-heading-xxs-plus-weight: 700;
  --p-heading-xxs-plus-letter: 0;

  /* Body */
  --p-body-plus-size: 17px;
  --p-body-plus-line: 28px;
  --p-body-plus-weight: 700;
  --p-body-plus-letter: 0;

  --p-body-size: 17px;
  --p-body-line: 28px;
  --p-body-weight: 400;
  --p-body-letter: 0;

  --p-body-s-size: 15px;
  --p-body-s-line: 24px;
  --p-body-s-weight: 400;
  --p-body-s-letter: 0;

  --p-body-xs-size: 12px;
  --p-body-xs-line: 15px;
  --p-body-xs-weight: 400;
  --p-body-xs-letter: 0;

  --p-body-l-size: 20px;
  --p-body-l-line: 30px;
  --p-body-l-weight: 500;
  --p-body-l-letter: 0;

  /* Button */
  --p-btn-l-size: 24px;
  --p-btn-l-line: 32px;
  --p-btn-l-weight: 700;
  --p-btn-l-letter: 0;

  --p-btn-m-size: 17px;
  --p-btn-m-line: 24px;
  --p-btn-m-weight: 700;
  --p-btn-m-letter: 0;

  --p-btn-s-size: 15px;
  --p-btn-s-line: 22px;
  --p-btn-s-weight: 700;
  --p-btn-s-letter: 0;

  /* Caption */
  --p-caption-size: 15px;
  --p-caption-line: 22px;
  --p-caption-weight: 400;
  --p-caption-letter: 0;

  /* Price */
  --p-price-size: 28px;
  --p-price-line: 38px;
  --p-price-weight: 600;
  --p-price-letter: -0.1px;

  --p-price-slash-size: 24px;
  --p-price-slash-line: 24px;
  --p-price-slash-weight: 600;
  --p-price-slash-letter: -0.1px;

  --p-price-l-size: 32px;
  --p-price-l-line: 42px;
  --p-price-l-weight: 600;
  --p-price-l-letter: -0.3px;

  /* Product */
  --p-product-brand-size: 16px;
  --p-product-brand-line: 24px;
  --p-product-brand-weight: 600;
  --p-product-brand-letter: 0;

  --p-product-name-size: 17px;
  --p-product-name-line: 24px;
  --p-product-name-weight: 400;
  --p-product-name-letter: -0.1px;

  --p-product-price-size: 17px;
  --p-product-price-line: 24px;
  --p-product-price-weight: 600;
  --p-product-price-letter: -0.2px;

  --p-product-brand-l-size: 18px;
  --p-product-brand-l-line: 24px;
  --p-product-brand-l-weight: 700;
  --p-product-brand-l-letter: 0;

  --p-product-name-m-size: 32px;
  --p-product-name-m-line: 40px;
  --p-product-name-m-weight: 700;
  --p-product-name-m-letter: 0;

  /* Footer */
  --p-footer-size: 15px;
  --p-footer-line: 22px;
  --p-footer-weight: 400;
  --p-footer-letter: 0;

  --p-footer-caption-size: 14px;
  --p-footer-caption-line: 22px;
  --p-footer-caption-weight: 400;
  --p-footer-caption-letter: 0.1px;

  /* Caption */
  --p-caption-m-size: 18px;
  --p-caption-m-line: 28px;
  --p-caption-m-weight: 600;
  --p-caption-m-letter: 0;

  /* Icons */
  --p-icon-xs-size: 12px;
  --p-icon-xs-line: 16px;
  --p-icon-s-size: 16px;
  --p-icon-s-line: 20px;

  --p-icon-m-size: 18px;
  --p-icon-m-line: 24px;

  --p-icon-l-size: 24px;
  --p-icon-l-line: 24px;

  --p-icon-xl-size: 32px;
  --p-icon-xl-line: 32px;

  --p-icon-2xl-size: 75px;
  --p-icon-2xl-line: 32px;

  --p-icon-3xl-size: 96px;
  --p-icon-3xl-line: 32px;
}

body {
  font-family: var(--font-pretendard);
  font-size: var(--base-font);
  color: var(--color-dark-black);
  background-color: var(--color-white);
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
}

button,
input,
select,
textarea {
  font: inherit;
}

button {
  background: none;
  border: 0;
  color: inherit;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
}

a {
  color: inherit;
  text-decoration: none;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
}

.container {
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
  padding: 0 var(--container-pad-mobile);
}

/* 태블릿 (브레이크포인트 미정 - 임시 768) */
@media (min-width: 768px) {
  .container {
    padding: 0 var(--container-pad-tablet);
  }
}

/* PC (브레이크포인트 미정 - 팀 확정 후 숫자 교체) */
@media (min-width: 1200px) {
  .container {
    max-width: var(--container-max);
    padding: 0;
  }
}

.sr-only,
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

/* 헤더 푸터 모바일 공통 */
.pc-only {
  display: none;
}
/* 헤더 */
.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: var(--color-white);
  border-bottom: var(--color-gray) 1px solid;
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
  padding: 24px var(--container-pad-mobile);
  z-index: 2;
}

.hide-menu{
  display: none !important;
}

.main-header .logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-top {
  width: 100%;
  padding:24px  var(--container-pad-mobile);
  border-bottom: var(--color-gray) 1px solid;
  background-color: var(--color-white);
}


/* 모바일 메뉴 오픈 시 배경 스크롤 방지 */
.body-no-scroll {
  overflow: hidden;
  height: 100vh;
}

/* 모바일 햄버거 메뉴 */
.global-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: var(--color-overlay);
  z-index: 3;
  overflow-y: auto;
}
/* 메인 메뉴 */
.main-menu-panel {
  min-width: 140px;
  width: 35%;
  background-color: var(--color-light-gray);
  border-right: var(--color-gray) 1px solid;
}


.main-menu-panel > ul > li > button{
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
  text-align: left;
}

.main-menu-panel > ul > li > a{
  display: block;
  width: 100%;
  height: 100%;
  padding: 20px;
}

.main-menu-panel .hr {
  padding: 0 20px;
}

.main-menu-panel .active {
  background-color: var(--color-white);
  border-left: var(--color-point) 4px solid;
}


/* 서브메뉴 */
.sub-menu-panel {
  flex: 1;
  min-width: 0;
  background-color: var(--color-white);
  padding: 24px;
}

.sub-menu {
  margin-bottom: 16px;
  padding-bottom: 8px;
  border-bottom: var(--color-gray) 1px solid;
}

.sub-menu>a{
  display: flex;
  width: 100%;
  height: 100%;
  }
/* 스크롤을 감싸는 부모 컨테이너 */
.sub-menu-panel .shape-scroll-container {
  display: flex;
  overflow-x: auto; /* 가로 방향으로 넘칠 때 스크롤 생성 */
  gap: 12px; /* 아이템 사이의 간격 (원하시는 대로 조절하세요) */
  padding: 10px 0; /* 상하 여백 */

  /* 모바일 기기에서 관성 스크롤을 부드럽게 만들어주는 속성 */
  -webkit-overflow-scrolling: touch;
}

/* (선택) 깔끔한 UI를 위해 스크롤바 숨기기 */
.sub-menu-panel .shape-scroll-container::-webkit-scrollbar {
  display: none; /* 크롬, 사파리, 오페라, 엣지 */
}
.sub-menu-panel .shape-scroll-container {
  -ms-overflow-style: none; /* IE 및 구버전 엣지 */
  scrollbar-width: none; /* 파이어폭스 */
}

/* 개별 모양 아이템 */
.sub-menu-panel .shape-item {
  flex: 0 0 auto; /* 화면이 좁아져도 아이템 크기가 찌그러지지 않게 강제 유지 */
  white-space: nowrap; /* 텍스트가 두 줄로 줄바꿈되는 것을 방지 */
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: calc(var(--base-unit) * 2);

  padding: 8px 16px;
  background-color: var(--color-light-gray);
  border-radius: 8px;
}

/* 그리드 컨테이너 설정 */
.sub-menu-panel .sub-menu-grid {
  display: grid;
  grid-template-columns: repeat(2, minmax(0, 1fr)); /* 정확히 2개의 열을 동일한 비율(1fr)로 배치 */
  gap: 8px;
  text-align: center;
}

/* 개별 버튼 기본 스타일링 */
.sub-menu-panel .sub-menu-grid > * {
  min-height: 48px;
  background-color: var(--color-white);
  border: 1px solid var(--color-gray); /* 테두리 색상 */
  border-radius: 4px; /* 모서리 둥글게 */
  word-break: break-all;
}

/* a 태그 영역을 넓혀 클릭하기 편하게 설정 */
.sub-menu-panel .sub-menu-grid > * > a {
  display: flex; /* a 태그 자체를 Flex 박스로 만듦 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
  width: 100%;
  height: 100%; /* 2줄짜리 박스 높이에 맞춰 1줄짜리 a태그 영역도 꽉 채움 */
  padding: 8px; /* 위에서 뺀 패딩을 클릭 영역 안으로 이동 */
  box-sizing: border-box;
  color: var(--color-dark-gray);
}
.sub-menu-panel .text-box {
  position: relative;
  background-size: cover;
  background-position: center 40%;
  background-repeat: no-repeat;
  padding: 20px;
  border-radius: 8px;
  border: var(--color-gray) 1px solid;
  color: var(--color-white);
}

#sunglasses-text-box {
  background-image:
    linear-gradient(var(--color-overlay), var(--color-overlay)),
    url("../img/sunglasses-promotion.webp");
}

#frame-text-box {
  background-image:
    linear-gradient(var(--color-overlay), var(--color-overlay)),
    url("../img/glasses-promotion.webp");
}

.sub-menu-panel .text-box > p {
  margin-bottom: 16px; /* p 태그 아래쪽에 16px의 바깥 여백 추가 */
}

/* 푸터 */
footer {
  background-color: var(--color-light-gray);
  padding: 16px;
  margin-top: 16px;
}
footer > .container {
  gap: 16px;
}
/* 메인 푸터 */
.footer-main {
  align-items: flex-start;
}

.footer-wrap{
  display: flex;
  flex-direction: column;
  gap: calc(var(--base-unit));
}
  .footer-foot-wrap{
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-unit));
  }

/* 단순 푸터 */
.footer-simple {
  align-items: center;
}

.footer-simple .rounz-find-info,
.footer-simple .pc-only,
.footer-simple .family-site,
.footer-simple .sns-icon {
  display: none;
}

.rounz-info{
  display: none;
}
.rounz-info.show {
  display: flex;
}

/* 헤더 푸터 반응형 */
@media (min-width: 1200px) {
  /* 공통 */
  .mobile-only{
    display: none !important;
  }
  .pc-only{
    display: block;
  }

/* 헤더 */
  .header{
    padding: 0 var(--base-unit);
  }
  .main-header {
    position: static;
  }

  .main-header .logo{
    position: static;
    left: auto;
    transform: none;
  }
  .global-nav{
    position: static;
    display: block;
    background-color: transparent;
    width: auto;
    height: auto;
    top: auto;
    left: auto;
    z-index: 2;
    overflow: visible;
  }
  .header-hr{
    display: none;
  }
  
  
  .main-menu-panel {
    background-color: transparent;
    border-right: none;
    min-width: auto;
    width: auto;
  }

  .main-menu-panel > ul{
   display: flex;
    flex-direction: row; /* 상단 메뉴를 가로로 나열합니다 [cite: 930] */
    align-items: center;
    gap: calc(var(--base-unit)*2); /* 메뉴 간격 조정 */
    margin: 24px 16px;
  }
  .main-menu-panel > ul > li > button,
  .main-menu-panel > ul > li > a {
    padding: 10px 0; /* 모바일용 넓은 패딩 제거 */
    text-align: center;
  }
  /* 모바일용 active 스타일 초기화 */
  .main-menu-panel .active {
    background-color: transparent;
    border-left: none;
  }
  
  /* 4. 서브 메뉴 패널 (메가 메뉴 풀스크린) */
  .menu-wrapper {
    flex-direction: row; 
  }

  .sub-menu-panel {
    position: absolute;
    top: 100%; 
    left: 0;
    width: 100%;
    background-color: var(--color-white);
    border-top: 1px solid var(--color-gray);
    box-shadow: var(--shadow-sub);
    padding: 32px var(--container-pad-tablet);
    z-index: 2;
  }

 .sub-menu-list {
    display: grid !important;
    grid-template-areas:
      "left right-top"
      "left right-bottom";
    grid-template-columns: 1fr 2fr; /* 왼쪽(2) : 오른쪽(1) 비율 */
    gap: 20px; /* 요소들 사이의 간격 (원하는 대로 조절) */
  }

  .sub-menu{
    border: none;
    font-size: var(--m-h1-size);
  }
  .sub-menu>a{
    justify-content: start !important;
  }

  .sub-menu-all{
    grid-area: left;
    align-self: start;
  }
  .sub-menu-item{
    display: grid !important;
    grid-template-columns: repeat(2,1fr);
  }

  .shape-item {
    background-color: transparent !important;
  }

  .shape-item > img{
    display: none;
  }
  .shape-item > a:before{
    content: "#";
    display: inline;
  }

  .sub-menu-panel .sub-menu-grid{
    grid-template-columns: repeat(2 ,1fr);
  }

  .sub-menu-panel .sub-menu-grid > *{
    border: none;
  }

  .hide-menu{
    display: none !important;
  }

/* 푸터 */
  .footer-wrap{
    display: flex;
    flex-direction: row;
    gap: calc(var(--base-unit)*12);
  }


  .footer-main-content{
    display: flex;
    gap: calc(var(--base-unit)*12);
  }
  
  .cs .footer-nav{
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-unit) * 0.5);
  }

  .family-site .footer-nav{
    flex-direction: column;
  }

  .cc{
    display: flex;
  }
  .cc > *{
    display: block;
  }
  .footer-foot-wrap{
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-unit));
  }

  .rounz-find-info{
    display: none !important;
  }

  .rounz-info{
    display: flex;
    flex-direction: column;
    gap: calc(var(--base-unit));
  }
  .rounz-info> ul{
    display: flex;
    gap: calc(var(--base-unit));
  }
  /* .footer-simple 클래스가 붙어있더라도 중앙 정렬을 무력화하고 좌측 정렬로 덮어씌웁니다 */
  .footer-simple {
    align-items: flex-start;
  }

  /* 단순 푸터용으로 숨겨두었던 요소들을 1200px 이상에서는 강제로 다시 노출합니다 */
  .footer-simple .rounz-info,
  .footer-simple .family-site,
  .footer-simple .pc-only {
    display: flex !important; /* 상황에 따라 flex 등으로 조절 가능 */
  }

  

}