/* ===========================
   Typography Utility - Mobile
=========================== */

/* Heading */
.typo-m-h1 {
  font-family: var(--font-inter);
  font-size: var(--m-h1-size);
  line-height: var(--m-h1-line);
  font-weight: var(--m-h1-weight);
  letter-spacing: var(--m-h1-letter);
}

.typo-m-header-l {
  font-family: var(--font-inter);
  font-size: var(--m-header-l-size);
  line-height: var(--m-header-l-line);
  font-weight: var(--m-header-l-weight);
  letter-spacing: var(--m-header-l-letter);
}

.typo-m-header {
  font-family: var(--font-inter);
  font-size: var(--m-header-size);
  line-height: var(--m-header-line);
  font-weight: var(--m-header-weight);
  letter-spacing: var(--m-header-letter);
}

.typo-m-header-s {
  font-family: var(--font-inter);
  font-size: var(--m-header-s-size);
  line-height: var(--m-header-s-line);
  font-weight: var(--m-header-s-weight);
  letter-spacing: var(--m-header-s-letter);
}

/* Body */
.typo-m-body {
  font-family: var(--font-pretendard);
  font-size: var(--m-body-size);
  line-height: var(--m-body-line);
  font-weight: var(--m-body-weight);
  letter-spacing: var(--m-body-letter);
}

.typo-m-body-s {
  font-family: var(--font-pretendard);
  font-size: var(--m-body-s-size);
  line-height: var(--m-body-s-line);
  font-weight: var(--m-body-s-weight);
  letter-spacing: var(--m-body-s-letter);
}

/* Button */
.typo-m-btn-l {
  font-family: var(--font-pretendard);
  font-size: var(--m-btn-l-size);
  line-height: var(--m-btn-l-line);
  font-weight: var(--m-btn-l-weight);
  letter-spacing: var(--m-btn-l-letter);
}

.typo-m-btn-m {
  font-family: var(--font-pretendard);
  font-size: var(--m-btn-m-size);
  line-height: var(--m-btn-m-line);
  font-weight: var(--m-btn-m-weight);
  letter-spacing: var(--m-btn-m-letter);
}

.typo-m-btn-s {
  font-family: var(--font-pretendard);
  font-size: var(--m-btn-s-size);
  line-height: var(--m-btn-s-line);
  font-weight: var(--m-btn-s-weight);
  letter-spacing: var(--m-btn-s-letter);
}

/* Caption */
.typo-m-caption {
  font-family: var(--font-inter);
  font-size: var(--m-caption-size);
  line-height: var(--m-caption-line);
  font-weight: var(--m-caption-weight);
  letter-spacing: var(--m-caption-letter);
}

/* Price */
.typo-m-price {
  font-family: var(--font-pretendard);
  font-size: var(--m-price-size);
  line-height: var(--m-price-line);
  font-weight: var(--m-price-weight);
  letter-spacing: var(--m-price-letter);
}

.typo-m-price-l {
  font-family: var(--font-pretendard);
  font-size: var(--m-price-l-size);
  line-height: var(--m-price-l-line);
  font-weight: var(--m-price-l-weight);
  letter-spacing: var(--m-price-l-letter);
}

.typo-m-price-slash {
  font-family: var(--font-pretendard);
  font-size: var(--m-price-slash-size);
  line-height: var(--m-price-slash-line);
  font-weight: var(--m-price-slash-weight);
  letter-spacing: var(--m-price-slash-letter);
  text-decoration: line-through;
}

/* Product */
.typo-m-product-brand {
  font-family: var(--font-inter);
  font-size: var(--m-product-brand-size);
  line-height: var(--m-product-brand-line);
  font-weight: var(--m-product-brand-weight);
  letter-spacing: var(--m-product-brand-letter);
}

.typo-m-product-name {
  font-family: var(--font-inter);
  font-size: var(--m-product-name-size);
  line-height: var(--m-product-name-line);
  font-weight: var(--m-product-name-weight);
  letter-spacing: var(--m-product-name-letter);
}

.typo-m-product-price {
  font-family: var(--font-inter);
  font-size: var(--m-product-price-size);
  line-height: var(--m-product-price-line);
  font-weight: var(--m-product-price-weight);
  letter-spacing: var(--m-product-price-letter);
}

/* Footer */
.typo-m-footer {
  font-family: var(--font-pretendard);
  font-size: var(--m-footer-size);
  line-height: var(--m-footer-line);
  font-weight: var(--m-footer-weight);
  letter-spacing: var(--m-footer-letter);
}

.typo-m-footer-caption {
  font-family: var(--font-inter);
  font-size: var(--m-footer-caption-size);
  line-height: var(--m-footer-caption-line);
  font-weight: var(--m-footer-caption-weight);
  letter-spacing: var(--m-footer-caption-letter);
}

/* Icons */
.typo-m-icons-xs-o {
  font-family: var(--font-material-icons);
  font-size: var(--m-icons-xs-size);
  line-height: var(--m-icons-xs-line);
  font-weight: 400;
  letter-spacing: 0;
}

.typo-m-icons-s-o {
  font-family: var(--font-material-outlined);
  font-size: var(--m-icons-s-size);
  line-height: var(--m-icons-s-line);
  font-weight: 400;
  letter-spacing: 0;
}

.typo-m-icons-m-o {
  font-family: var(--font-material-outlined);
  font-size: var(--m-icons-m-size);
  line-height: var(--m-icons-m-line);
  font-weight: 400;
  letter-spacing: 0;
}

.typo-m-icons-l-o {
  font-family: var(--font-material-outlined);
  font-size: var(--m-icons-l-size);
  line-height: var(--m-icons-l-line);
  font-weight: 400;
  letter-spacing: 0;
}

.typo-m-icons-xl-o {
  font-family: var(--font-material-outlined);
  font-size: var(--m-icons-xl-size);
  line-height: var(--m-icons-xl-line);
  font-weight: 400;
  letter-spacing: 0;
}

/* ===========================
   Typography Utility - Tablet
=========================== */

/* Heading */

.typo-t-h1 {
  font-family: var(--font-inter);
  font-size: var(--t-h1-size);
  line-height: var(--t-h1-line);
  font-weight: var(--t-h1-weight);
  letter-spacing: var(--t-h1-letter);
}

/* ===========================
   Typography Utility - PC
=========================== */

/* Heading */

.typo-p-header-l {
  font-family: var(--font-inter);
  font-size: var(--p-header-l-size);
  line-height: var(--p-header-l-line);
  font-weight: var(--p-header-l-weight);
  letter-spacing: var(--p-header-l-letter);
}

.typo-p-header-s {
  font-family: var(--font-inter);
  font-size: var(--p-header-s-size);
  line-height: var(--p-header-s-line);
  font-weight: var(--p-header-s-weight);
  letter-spacing: var(--p-header-s-letter);
}

/* Body */

.typo-p-body-s {
  font-family: var(--font-pretendard);
  font-size: var(--p-body-s-size);
  line-height: var(--p-body-s-line);
  font-weight: var(--p-body-s-weight);
  letter-spacing: var(--p-body-s-letter);
}

/* Button */

.typo-p-btn-m {
  font-family: var(--font-pretendard);
  font-size: var(--p-btn-m-size);
  line-height: var(--p-btn-m-line);
  font-weight: var(--p-btn-m-weight);
  letter-spacing: var(--p-btn-m-letter);
}

.typo-p-btn-s {
  font-family: var(--font-pretendard);
  font-size: var(--p-btn-s-size);
  line-height: var(--p-btn-s-line);
  font-weight: var(--p-btn-s-weight);
  letter-spacing: var(--p-btn-s-letter);
}

/* Caption */
.typo-p-caption {
  font-family: var(--font-inter);
  font-size: var(--p-caption-size);
  line-height: var(--p-caption-line);
  font-weight: var(--p-caption-weight);
  letter-spacing: var(--p-caption-letter);
}

/* Product */

.typo-p-product-brand {
  font-family: var(--font-inter);
  font-size: var(--p-product-brand-size);
  line-height: var(--p-product-brand-line);
  font-weight: var(--p-product-brand-weight);
  letter-spacing: var(--p-product-brand-letter);
}
