input {
  padding: 8px 16px;
  border: var(--color-gray) 1px solid;
  border-radius: 4px;
}

#validate {
  padding: 8px 16px;
  border: var(--color-gray) 1px solid;
  border-radius: 4px;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

main{
  height: calc(100vh - 97px);
}

.main-content > img{
  border-right: 1px var(--color-gray) solid;
  padding: 20px;
}

.main-content{
  padding: 16px;
}