input {
  padding: 8px 16px;
  border: var(--color-gray) 1px solid;
  border-radius: 4px;
}

#validate {
  padding: 8px 16px;
  border: var(--color-gray) 1px solid;
  border-radius: 4px;
}
.feedback{
  color: var(--color-dark-gray);
}

.alert{
  color: var(--color-red);
}

main a{
  color: var(--color-point);
}

.form.d-flex input {
  flex: 1;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.account-make{
  max-width: 300px;
  width: 100%;
  padding: 8px;
  border-radius: 4px;
  background-color: var(--color-black);
  color: var(--color-white);
  align-self: center;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}
.main-content > img{
  border-right: 1px var(--color-gray) solid;
  padding: 20px;
}

.main-content{
  padding: 16px;
}

@media (min-width:1200px) {
  .account-make{
    max-width: 960px;
  }
}